@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Heebo", sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/bg-hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    color: white;
}

header{
    background-color: rgba(0,0,0,0.9);
    padding: 1rem 2rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    color: orange;
    font-size: 2rem;
    font-weight: bold ;
}

.nav_menu{
    display: flex;
    list-style: none;
}

.nav_menu li{
    margin-right: 1.5rem;
}
.nav_menu a{
    color: #fff;
    text-decoration: nonw
    font-weight 500;
    position: relative;
}
.nav_menu a:hover::after{
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: orange;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: tranform 0.3s ease;
}

.nav_menu a::after{
    transform: scaleX(1);
    transform-origin: bottom right;
}

.book_table{
    background-color: orange;
    color: whitq;
    border: none;
    padding: 0.5rem 1rem;]
    cursor: pointer;
    font-weight:bold;
}    

.menu-toggle{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem; 
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 4rem 4rem;
}
.hero-content{
    max-width: 50%;
    border-left: 2px solid white;
    font-size: 10px;
}
